html {
    font-size: 0.9rem;
}

.thead-dark-grey th {
    background-color: #b02a37;
}

.thead-lgrey th {
    background-color: #e2e3e5;
}

.octicon {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
}

.modal-max {
    max-width: 40% !important;
    width: 40% !important;
}

.ellipis {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    /*display: block;*/
    white-space: nowrap;
}

.my-popover {
    min-width: 100px !important;
    width: 100% !important;
    max-width: 300px !important;
    overflow-wrap: break-word !important;
}


.my-table {

}

.my-table thead th {
    background-color: #e2e3e5;
}

.table-reports {
    max-height: 800px;
    overflow: scroll;
}

.table-reports th, thead {
    position: sticky;
    top: 0;
}

.swal2-title {
    font-size: 1.3em !important;
}
