html {
    font-size: 0.9rem;
}

.thead-dark-grey th {
    background-color: #b02a37;
}

.thead-lgrey th {
    background-color: #e2e3e5;
}

.octicon {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
}

.modal-max {
    max-width: 40% !important;
    width: 40% !important;
}

.ellipis {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    /*display: block;*/
    white-space: nowrap;
}

.my-popover {
    min-width: 100px !important;
    width: 100% !important;
    max-width: 300px !important;
    overflow-wrap: break-word !important;
}


.my-table {

}

.my-table thead th {
    background-color: #e2e3e5;
}

.table-reports {
    max-height: 800px;
    overflow: scroll;
}

.custCodeInp{
    max-width: 85px;
}

.deviceFilterSelect {
    max-width: 150px;
}

.input-datepicker {
    max-width: 110px;
}

.table-reports th, thead {
    position: sticky;
    top: 0;
}

.swal2-title {
    font-size: 1.3em !important;
}

#deviceListProfit .form-check-input {
    margin-top: .2em;
}

table.profit-summary button {
    padding-bottom: 0;
    padding-top: .175rem;
}

#showDocModal label {
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
}




#overlay-spinner {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height:100%;
    display: none;
    background: rgba(0,0,0,0.6);
}
.cv-spinner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinner {
    width: 40px;
    height: 40px;
    border: 4px #ddd solid;
    border-top: 4px #2e93e6 solid;
    border-radius: 50%;
    animation: sp-anime 0.8s infinite linear;
}

@keyframes sp-anime {
    100% {
        transform: rotate(360deg);
    }
}

.is-hide{
    display:none;
}
